<a href="https://colab.research.google.com/github/soumyasankar99/Python_from_scratch/blob/main/Function_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCTION WITHOUT PARAMETERS:

In [ ]:
def my_full_name ():
  first_name = "soumya"
  last_name ="sankar"
  space=' '
  full_name = first_name + space + last_name
  print(full_name)

my_full_name()

soumya sankar

In [ ]:
def Run_a_car():
  start ="start a car by ignit the engine"
  accelerate="then speed is now 30/kmh"
  brake="car slow down and slows down."

  mechanism_car= start +" , "+ accelerate +" , "+ brake
  print(mechanism_car)

Run_a_car()

start a car by ignit the engine , then speed is now 30/kmh , car slow down and slows down.

In [ ]:
def add_two_numbers():
  num1 = 2
  num2 = 3

  total = num1 + num2
  print(total)

add_two_numbers()

5

In [ ]:
#This is addition operation
def add_two_numbers():
  num1 = input("Enter a number of your 1st choice:")
  num2 = input("Enter a number of your 2nd choice:")

  total = num1 + num2
  print("Total number is:",total)

add_two_numbers()

Enter a number of your 1st choice:1234567890
Enter a number of your 2nd choice:09876543211
Total number is: 123456789009876543211

In [ ]:
#This is multiplication operation

def mul_two_numbers():
  num1 = int(input("Enter a number of your 1st choice:"))
  num2 = int(input("Enter a number of your 2nd choice:"))

  total = num1 * num2
  print("Total number is:",total)

mul_two_numbers()

Enter a number of your 1st choice:456
Enter a number of your 2nd choice:678
Total number is: 309168

Function Returning a Value- Part-1

In [ ]:
def Run_a_car():
  start ="start a car by ignit the engine"
  accelerate="then speed is now 30/kmh"
  brake="car slow down and slows down."

  mechanism_car= start +" , "+ accelerate +" , "+ brake
  return mechanism_car

print(Run_a_car())

start a car by ignit the engine , then speed is now 30/kmh , car slow down and slows down.

Function with Parameters

In [ ]:
from IPython.lib.display import Code
#syntax
#declaring a function

def function_name(parameter):
  Code
  codes

#Calling function
print(function_name(argument))

In [1]:
def greetings (name):
    message = name + ', welcome to Python for Everyone!'
    return message

print(greetings('Soumya sankar'))

def add_ten(num):
    ten = 10
    return num + ten
print(add_ten(90))

def square_number(x):
    return x * x
print(square_number(2))

def area_of_circle (r):
    PI = 3.14
    area = PI * r ** 2
    return area
print(area_of_circle(10))

def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    print(total)
print(sum_of_numbers(10)) # 55
print(sum_of_numbers(100)) # 5050

Soumya sankar, welcome to Python for Everyone!
100
4
314.0
55
None
5050
None

Two Parameters ▶

In [ ]:
  # syntax
  # Declaring a function
  def function_name(para1, para2):
    codes
    codes
  # Calling function
  print(function_name(arg1, arg2))

In [2]:
def generate_full_name (first_name, last_name):
   space = ' '
   full_name = first_name + space + last_name
   return full_name
print('Full Name: ', generate_full_name('Soumya','Sankar'))

def sum_two_numbers (num_one, num_two):
    sum = num_one + num_two
    return sum
print('Sum of two numbers: ', sum_two_numbers(1, 9))

def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;

print('Age: ', calculate_age(2021, 1819))

def weight_of_object (mass, gravity):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to a string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100, 9.81))

Full Name:  Soumya Sankar
Sum of two numbers:  10
Age:  202
Weight of an object in Newtons:  981.0 N

In [ ]:
# syntax
# Declaring a function
def function_name(para1, para2):
    codes
    codes
# Calling function
print(function_name(para1 = 'John', para2 = 'Doe')) # the order of arguments does not matter here

In [3]:
def print_fullname(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    print(full_name)
print(print_fullname(firstname = 'Soumya', lastname = 'Panda'))

def add_two_numbers (num1, num2):
    total = num1 + num2
    print(total)
print(add_two_numbers(num2 = 3, num1 = 2)) # Order does not matter

Soumya Panda
None
5
None

In [4]:
def print_name(firstname):
    return firstname
print_name('Soumya') # Soumya

def print_full_name(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    return full_name
print_full_name(firstname='Soumya', lastname='Sankar')

'Soumya Sankar'

In [ ]:
def add_two_numbers (num1, num2):
    total = num1 + num2
    return total
print(add_two_numbers(2, 3))

def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(2019, 1819))

5
Age:  200

In [ ]:
def add_two_numbers(num1,num2):
  total = num1 + num2
  return total

print(add_two_numbers(2,3))

5

In [ ]:
def calculation_age(current_year,birth_year):
  age = current_year - birth_year
  return age;

print('Age:',calculate_age(2023,1999))

Age: 24

Returning a boolean:

In [ ]:
def is_even(n):
  if n % 2 == 0:
    print('even')
    return True  # return stops further execution of the function , similar to break
  return False

print(is_even(10)) #True
print(is_even(7)) #False

even
True
False

Returning a list:

In [ ]:
def find_even_numbers(n):
   evens = []
   for i in range(n+1):
    if i % 2 == 0:
       evens.append(i)
   return evens
print(find_even_numbers(10))

[0, 2, 4, 6, 8, 10]

Function with Default Parameters

In [ ]:
# syntax
# Declaring a function
def function_name(param = value):
    codes
    codes
# Calling function
function_name()
function_name(arg)

In [ ]:
def greetings (name = 'Soumya'):
    message = name + ', welcome to Python for Everyone!'
    return message
print(greetings())
print(greetings('Sankar'))

def generate_full_name (first_name = 'Soumya', last_name = 'Sankar'):
    space = ' '
    full_name = first_name + space + last_name
    return full_name

print(generate_full_name())
print(generate_full_name('Debarpit','Samal'))

def calculate_age (birth_year,current_year = 2023):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(1999))

def weight_of_object (mass, gravity = 9.81):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100)) # 9.81 - average gravity on Earth's surface
print('Weight of an object in Newtons: ', weight_of_object(100, 1.62)) # gravity on the surface of the Moon

Soumya, welcome to Python for Everyone!
Sankar, welcome to Python for Everyone!
Soumya Sankar
Debarpit Samal
Age:  24
Weight of an object in Newtons:  981.0 N
Weight of an object in Newtons:  162.0 N

Arbitrary Number of Arguments

If we do not know the number of arguments we pass to our function, we can create a function which can take arbitrary number of arguments by adding * before the parameter name.

In [ ]:
# syntax
# Declaring a function
def function_name(*args):
    codes
    codes
# Calling function
function_name(param1, param2, param3,..)

In [ ]:
def sum_all_nums(*nums):
  total = 0
  for num in nums:
    total += num
  return total

print(sum_all_nums(2,3,5))

10

Default and Arbitrary Number of Parameters in Functions

In [ ]:
def generate_groups(team,*args):
  print(team)
  for i in args:
    print(i)

print(generate_groups('Team-1','Soumya','Sankar','samlik','Juili'))

Team-1
Soumya
Sankar
samlik
Juili
None

Function as a Parameter of Another Function

In [ ]:
#You can pass functions around as parameters
def square_number (n):
    return n * n
def do_something(f, x):
    return f(x)
print(do_something(square_number, 3)) # 27

9

Exercise level -1

Q1) Declare a function add_two_numbers. It takes two parameters and it returns a sum.

In [ ]:
def add_two_numbers(num1,num2):
  total = num1 + num2
  return total

print(add_two_numbers(.05,55))

55.05

Q2) Area of a circle is calculated as follows: area = π x r x r. Write a function that calculates area_of_circle.

In [ ]:
def area_of_circle():
  pi = 22/7
  r = int(input('Enter a number:'))
  area = pi*r*r
  print(area)

area_of_circle()

Enter a number:34
3633.1428571428573

Q3) Write a function called add_all_nums which takes arbitrary number of arguments and sums all the arguments. Check if all the list items are number types. If not do give a reasonable feedback.

In [ ]:
def add_all_nums(*args):
  total = 0 # Initialize the sum to 0

  # Check if all arguments are numbers and sum them
  for num in args:
    if not isinstance(num,(int,float)):
      return "Error: All arguments must be numbers."
    total += num

  return total

result = add_all_nums(1,2,3,4,5)
print(result)

result = add_all_nums(1,2,'3',4,5)
print(result)

15
Error: All arguments must be numbers.

Q4)Temperature in °C can be converted to °F using this formula: °F = (°C x 9/5) + 32. Write a function which converts °C to °F, convert_celsius_to-fahrenheit.

In [ ]:
def convert_celsius_to_fahrenheit(celsius):
  #Formula to convert Celsius to Fahrenheit
  fahrenheit = (celsius *(9/5)) + 32
  return fahrenheit

# Example usage:
celsius_temperature = 25
fahrenheit_tem = convert_celsius_to_fahrenheit(celsius_temperature)

print(f"{celsius_temperature}°C is equal to {fahrenheit_tem}°F")

25°C is equal to 77.0°F

Q5) Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.

In [ ]:
def check_season(month):
  #define a dictionary mapping months to seasons
  month_to_season = {
      "December":"Winter",
      "January" :"Winter",
      "February":"Spring",
      "March":"Spring",
      "April":"summer",
      "May":"summer",
      "June":"summer",
      "july":"Rainny",
      "August":"Rainny",
      "September":"Rainny",
      "October":"Autum",
      "November": "Autum"

  }

  #Check if the provided month is in the dictionary

  if month in month_to_season:
    return month_to_season[month]
  else:
    return "Invalid month"


#Example usage :
input_month = str(input("Enter a Month Name:" ))
result = check_season(input_month)
print(f"The season for {input_month} is {result}")

Enter a Month Name:April
The season for April is summer

Q6)Write a function called calculate_slope which return the slope of a linear equation

In [ ]:
def calculate_slope(x1,y1,x2,y2):
  """
  Calculate the slope of a linear equation given two points on the line

  Parameters:
       x1 (float): x-coordinate of the first point.
       y1 (float): y- coordinate of the first point.
       x2 (float): x-coordinate of the second point.
       y2 (float): y-coordinate of the second point.
  Returns :
     float: The slope of the linear equation.


  """

  if x1==x2:
    raise ValueError("The two points have the same x-coordinate, resulting in undefined slope.")

  slope = (y2-y1)/(x2-x1)
  return slope

print(calculate_slope(23,34,56,65))

0.9393939393939394

Q7)Quadratic equation is calculated as follows: ax² + bx + c = 0. Write a function which calculates solution set of a quadratic equation, solve_quadratic_eqn.

In [ ]:
import math

def solve_quadratic_eqn(a,b,c):
  """
  Solve a quadratic equation of the form ax2+ bx + c = 0 and return the solutions.

  Parameters:

   a (float) : Coefficient of x2.
   b (float) : Coefficient of x.
   c (float) : Constant term.


  Returns:
      tuple : A tuple containg the solutions,which may include real and/or complex
      numbers
   """


  discriminant= b**2 - 4*a*c

  if discriminant > 0:
  #Two real and distinct solutions
    root1= (-b + math.sqrt(discriminant))/(2*a)
    root2= (-b - math.sqrt(discriminant))/(2*a)
    return(root1,root2)

  elif discriminant == 0:
  # One real solution (a repeated root)
      root1 = -b / (2*a)
      return (root1,)

  else:
        # Complex solutions
        real_part = -b / (2*a)
        imaginary_part = math.sqrt(abs(discriminant)) / (2*a)
        root1 = complex(real_part, imaginary_part)
        root2 = complex(real_part, -imaginary_part)
        return (root1, root2)

print(solve_quadratic_eqn(23,34,56))

((-0.7391304347826086+1.3742157068938354j), (-0.7391304347826086-1.3742157068938354j))

Q8)Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.

In [ ]:
def print_list(my_list):

  for items in my_list:
      print(items)


my_list = ["Soumya","Sankar","Samlik","swayam","Mansasmyukta"]
print_list(my_list)

Soumya
Sankar
Samlik
swayam
Mansasmyukta

Q9) Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).

In [7]:
def reverse_list(arr):

  """
  Reverse an array using loops.

  Parameters:
     arr(list): The array to be reversed.

   Returns:
     list: The reversed array.

  """
  reversed_arr =[]
  for i in range(len(arr) -1,-1,-1):
    reversed_arr.append(arr[i])
  return reversed_arr

#examples:
original_list = [1,2,3,4,5]
reversed_list = reverse_list(original_list)
print(reverse_list)

<function reverse_list at 0x7f46ab29db40>

In [9]:
def reverse_list(arr):
    """
    Reverse an array using loops.

    Parameters:
        arr (list): The array to be reversed.

    Returns:
        list: The reversed array.
    """
    reversed_arr = []
    for i in range(len(arr) - 1, -1, -1):
        reversed_arr.append(arr[i])
    return reversed_arr

# Example usage:
print(reverse_list([1, 2, 3, 4, 5]))
# Output: [5, 4, 3, 2, 1]

print(reverse_list(["A", "B", "C"]))
# Output: ["C", "B", "A"]

[5, 4, 3, 2, 1]
['C', 'B', 'A']

Q 10) Declare a function named capitalize_list_items. It takes a list as a parameter and it returns a capitalized list of items

In [11]:
def capitalize_list_items(input_list):
  capitalized_list = [item.capitalize() for item in input_list]
  return capitalized_list


original_list = ["apple","banana","cherry"]
capitalized_result = capitalize_list_items(original_list)
print(capitalized_result)

"""
Capitalize each item in a list and return a new list.

Parameters:
    input_list(list): The list of items to be capitalized.

Returns:
   list: Anew list with capitalized items.
"""

['Apple', 'Banana', 'Cherry']

Q 11) Declare a function named add_item. It takes a list and an item parameters. It returns a list with the item added at the end.

food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];

print(add_item(food_staff, 'Meat'))     # ['Potato', 'Tomato', 'Mango', 'Milk','Meat'];

numbers = [2, 3, 7, 9];
print(add_item(numbers, 5))      [2, 3, 7, 9, 5]

In [12]:
def add_item(input_list, item):
  updated_list = input_list.copy()
  updated_list.append(item)
  return updated_list

food_staff = ['Potato','Tomato','Milk']
print(add_item(food_staff,'Meat'))

numbers = [2,3,7,9]
print(add_item(numbers, 5))

['Potato', 'Tomato', 'Milk', 'Meat']
[2, 3, 7, 9, 5]

Q 12) Declare a function named remove_item. It takes a list and an item parameters. It returns a list with the item removed from it.

food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];

print(remove_item(food_staff, 'Mango'))  # ['Potato', 'Tomato', 'Milk'];

numbers = [2, 3, 7, 9];
print(remove_item(numbers, 3))  # [2, 7, 9]

In [14]:
def remove_item(input_list, item):

  updated_list = [x for x in input_list if x!= item]
  return updated_list

food_staff = ['Potato','Tomato','Mango','Milk']
print(remove_item(food_staff,'Mango'))

numbers = [2,3,7,9]
print(remove_item(numbers,3))

['Potato', 'Tomato', 'Milk']
[2, 7, 9]

Q 13) Declare a function named sum_of_numbers. It takes a number parameter and it adds all the numbers in that range.

In [15]:
def sum_of_numbers(n):

  total = 0
  for i in range(1,n+1):
    total += i
  return total

#EXAMPLE
result = sum_of_numbers(5)
print(result)

15

In [16]:
def sum_of_numbers(n):

  total = 0
  for i in range(1,n+1):
    total += i
  return total

#Example
result = sum_of_numbers(15)
print(result)

120

In [17]:
def sum_of_numbers(n):

  total = 0
  for i in range(1,n+1):
    total += i
  return total

#Example
result = sum_of_numbers(100)
print(result)

5050

Q 14) Declare a function named sum_of_odds. It takes a number parameter and it adds all the odd numbers in that range.

In [19]:
def sum_of_odds(n):

  total = 0
  for i in range(1,n+1):
    if i%2 != 0:  #check i the number is odd
       total += i

  return total

#Example
result = sum_of_odds(7)
print(result)

"""
Calculate the sum of all odd numbers in the range from 1 to n.

Parameters:
    n(int): The upper limit of the range.

Returns:
   int: The sum of odd numbers in the specified range.

"""

16

'\nCalculate the sum of all odd numbers in the range from 1 to n.\n\nParameters:\n    n(int): The upper limit of the range.\n\nReturns:\n   int: The sum of odd numbers in the specified range.    \n\n'

In [20]:
# Or you can write it like this way.

def sum_of_odds(n):
   total = sum(x for x in range(1,n+1) if x % 2 != 0)
   return total

#Example
result = sum_of_odds(7)
print(result)

16

In [23]:
# How to calculate sum of odd numbers then ?

def sum_of_even(n):

    total = sum(x for x in range(1,n+1) if x % 2 == 0)
    return total

#Examples

result = sum_of_even(100)
print(result)

2550

  Q 15) Declare a function named sum_of_even. It takes a number parameter and it adds all the even numbers in that - range.

In [25]:
def sum_of_even(n):

   total = 0
   for i in range(2, n+1 ,2):
    total += i
   return total

#Example usage:
result = sum_of_even(100000)
print(result)

2500050000

In [26]:
# for 10,000 result.

def sum_of_even(n):

  total = 0
  for i in range(2, n+1 ,2):
    total += i
  return total

result = sum_of_even(10000)
print(result)

25005000

Level 2:

 Q 1) Write a function called is_prime, which checks if a number is prime.

In [ ]:
def is_prime(number):

  if number <= 1:
    return False   # 0 and 1 are not prime numbers

  if number == 2:
    return True    # 2 is a prime number

  if number % 2 == 0:
    return False #Even numbers greater than 2 are not prime

  # Check for divisibility by odd numbers from 3 to the square root of the number
  for divisor in range(3,int(number**0.5)+1,2):
     if number % divisor == 0:
       return False # The number is divisible by a divisor , so it's not prime

  return True #The number is prime

print(is_prime(17))  # o/p-True = 17

 **explanation for the part of the is_prime function that checks for divisibility by odd numbers from 3 to the square root of the given number**

#range(3, int(number**0.5) + 1, 2):

This creates a range of numbers starting from 3 up to the square root of the given number (number**0.5) plus 1, with a step size of 2. The step size of 2 ensures that we only check odd numbers as potential divisors, because even numbers greater than 2 cannot be prime.

#for divisor in ...:

This loop iterates through the odd numbers from 3 up to the square root of the given number.

# if number % divisor == 0::

Inside the loop, it checks if the given number is divisible by the current divisor. If the remainder (number % divisor) is zero, it means the number is evenly divisible by the divisor.

# return False:

If the number is found to be divisible by any of the divisors in the loop, the function immediately returns False because a prime number should have exactly two divisors (1 and itself). If it has more than two divisors, it cannot be prime.

**  Q 2) Write a functions which checks if all items are unique in the. **

In [29]:
def are_all_items_unique(input_list):

   unique_set = set()
   for item in input_list:
    if item in unique_set:
         return False
    unique_set.add(item)
   return True


print(are_all_items_unique([1,2,3,4,5]))
print(are_all_items_unique([1,2,2,3,4]))

True
False

Q 3) Write a function which checks if all the items of the list are of the same data type.

In [ ]:
# Check if all items in a list are of the same data type.
# Parameters-- input_list(list): The list to be checked
#Returns: (bool): True if all items are of the same data type, False otherwise

In [31]:
def are_all_items_of_same_type(input_list):

  if not input_list:
    return True     # An empty list is considered to have items of the same type

  #Get the data type of the first item in the list
  first_item_type = type(input_list[0])

  # check if all other items have the same data type
  for item in input_list[1:]:
    if type(item) != first_item_type:
      return False
  return True

print(are_all_items_of_same_type([1,2,3,4,5]))
print(are_all_items_of_same_type(['apple','banana','mango']))
print(are_all_items_of_same_type([1,'Soumya',3.99]))
print(are_all_items_of_same_type([]))

True
True
False
True

Q 4)Write a function which check if provided variable is a valid python variable

We can create a function called "valid_variable_name" that checks if a provided variable name is a valid Python name.

Rules for it:
-------------
1.Variable names must start with a letter (a-z,A-Z) or an underscore(_).

2.The reamaining charachters can be letters, digits(0-9), or underscores.

3.Variable names are case-sensitive.

In [ ]:
#Check if a provided string is a valid Python variable name.

# Parameters:
#     variable_name (str): The variable name to be checked.

#Returns:
#   bool: True if the variable name is valid, False otherwise.

In [35]:
import re

def valid_variable_name(variable_name):
  pattern = r'^[a-zA-Z_][a-zA-Z_0-9_]*$'
  return re.match(pattern,variable_name) is not None

print(valid_variable_name("valid_var"))
print(valid_variable_name('123_sam'))
print(valid_variable_name("in-variable"))

True
False
False

In [36]:
def valid_variable_name(variable_name):

  if not variable_name:
    return False  #An empty string is not valid variable name

  if not (variable_name[0].isalpha() or variable_name[0] == '_'):
    return False  # Variable name must start with a letter or underscore

  for char in variable_name[1:]:
    if not (char.isalpha() or char.isdigit() or char == '_'):
      return False  #Invalid character in the variable name

  return True


print(valid_variable_name("valid_var"))   #True
print(valid_variable_name("123_valid"))   #False
print(valid_variable_name("in-valid"))    #False

True
False
False