<a href="https://colab.research.google.com/github/soumyasankar99/Python_from_scratch/blob/main/Function_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCTION WITHOUT PARAMETERS:

In [2]:
def my_full_name ():
  first_name = "soumya"
  last_name ="sankar"
  space=' '
  full_name = first_name + space + last_name
  print(full_name)

my_full_name()

soumya sankar

In [5]:
def Run_a_car():
  start ="start a car by ignit the engine"
  accelerate="then speed is now 30/kmh"
  brake="car slow down and slows down."

  mechanism_car= start +" , "+ accelerate +" , "+ brake
  print(mechanism_car)

Run_a_car()

start a car by ignit the engine , then speed is now 30/kmh , car slow down and slows down.

In [6]:
def add_two_numbers():
  num1 = 2
  num2 = 3

  total = num1 + num2
  print(total)

add_two_numbers()

5

In [8]:
#This is addition operation
def add_two_numbers():
  num1 = input("Enter a number of your 1st choice:")
  num2 = input("Enter a number of your 2nd choice:")

  total = num1 + num2
  print("Total number is:",total)

add_two_numbers()

Enter a number of your 1st choice:1234567890
Enter a number of your 2nd choice:09876543211
Total number is: 123456789009876543211

In [10]:
#This is multiplication operation

def mul_two_numbers():
  num1 = int(input("Enter a number of your 1st choice:"))
  num2 = int(input("Enter a number of your 2nd choice:"))

  total = num1 * num2
  print("Total number is:",total)

mul_two_numbers()

Enter a number of your 1st choice:456
Enter a number of your 2nd choice:678
Total number is: 309168

Function Returning a Value- Part-1

In [14]:
def Run_a_car():
  start ="start a car by ignit the engine"
  accelerate="then speed is now 30/kmh"
  brake="car slow down and slows down."

  mechanism_car= start +" , "+ accelerate +" , "+ brake
  return mechanism_car

print(Run_a_car())

start a car by ignit the engine , then speed is now 30/kmh , car slow down and slows down.

Function with Parameters

In [ ]:
from IPython.lib.display import Code
#syntax
#declaring a function

def function_name(parameter):
  Code
  codes

#Calling function
print(function_name(argument))

In [15]:
def greetings (name):
    message = name + ', welcome to Python for Everyone!'
    return message

print(greetings('Asabeneh'))

def add_ten(num):
    ten = 10
    return num + ten
print(add_ten(90))

def square_number(x):
    return x * x
print(square_number(2))

def area_of_circle (r):
    PI = 3.14
    area = PI * r ** 2
    return area
print(area_of_circle(10))

def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    print(total)
print(sum_of_numbers(10)) # 55
print(sum_of_numbers(100)) # 5050

Asabeneh, welcome to Python for Everyone!
100
4
314.0
55
None
5050
None

Two Parameters ▶

In [ ]:
  # syntax
  # Declaring a function
  def function_name(para1, para2):
    codes
    codes
  # Calling function
  print(function_name(arg1, arg2))

In [17]:
def generate_full_name (first_name, last_name):
   space = ' '
   full_name = first_name + space + last_name
   return full_name
print('Full Name: ', generate_full_name('Asabeneh','Yetayeh'))

def sum_two_numbers (num_one, num_two):
    sum = num_one + num_two
    return sum
print('Sum of two numbers: ', sum_two_numbers(1, 9))

def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;

print('Age: ', calculate_age(2021, 1819))

def weight_of_object (mass, gravity):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to a string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100, 9.81))

Full Name:  Asabeneh Yetayeh
Sum of two numbers:  10
Age:  202
Weight of an object in Newtons:  981.0 N

In [ ]:
# syntax
# Declaring a function
def function_name(para1, para2):
    codes
    codes
# Calling function
print(function_name(para1 = 'John', para2 = 'Doe')) # the order of arguments does not matter here

In [18]:
def print_fullname(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    print(full_name)
print(print_fullname(firstname = 'Asabeneh', lastname = 'Yetayeh'))

def add_two_numbers (num1, num2):
    total = num1 + num2
    print(total)
print(add_two_numbers(num2 = 3, num1 = 2)) # Order does not matter

Asabeneh Yetayeh
None
5
None

In [19]:
def print_name(firstname):
    return firstname
print_name('Asabeneh') # Asabeneh

def print_full_name(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    return full_name
print_full_name(firstname='Asabeneh', lastname='Yetayeh')

'Asabeneh Yetayeh'

In [20]:
def add_two_numbers (num1, num2):
    total = num1 + num2
    return total
print(add_two_numbers(2, 3))

def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(2019, 1819))

5
Age:  200

In [21]:
def add_two_numbers(num1,num2):
  total = num1 + num2
  return total

print(add_two_numbers(2,3))

5

In [24]:
def calculation_age(current_year,birth_year):
  age = current_year - birth_year
  return age;

print('Age:',calculate_age(2023,1999))

Age: 24

Returning a boolean:

In [25]:
def is_even(n):
  if n % 2 == 0:
    print('even')
    return True  # return stops further execution of the function , similar to break
  return False

print(is_even(10)) #True
print(is_even(7)) #False

even
True
False

Returning a list:

In [26]:
def find_even_numbers(n):
   evens = []
   for i in range(n+1):
    if i % 2 == 0:
       evens.append(i)
   return evens
print(find_even_numbers(10))

[0, 2, 4, 6, 8, 10]

Function with Default Parameters

In [ ]:
# syntax
# Declaring a function
def function_name(param = value):
    codes
    codes
# Calling function
function_name()
function_name(arg)

In [27]:
def greetings (name = 'Soumya'):
    message = name + ', welcome to Python for Everyone!'
    return message
print(greetings())
print(greetings('Sankar'))

def generate_full_name (first_name = 'Soumya', last_name = 'Sankar'):
    space = ' '
    full_name = first_name + space + last_name
    return full_name

print(generate_full_name())
print(generate_full_name('Debarpit','Samal'))

def calculate_age (birth_year,current_year = 2023):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(1999))

def weight_of_object (mass, gravity = 9.81):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100)) # 9.81 - average gravity on Earth's surface
print('Weight of an object in Newtons: ', weight_of_object(100, 1.62)) # gravity on the surface of the Moon

Soumya, welcome to Python for Everyone!
Sankar, welcome to Python for Everyone!
Soumya Sankar
Debarpit Samal
Age:  24
Weight of an object in Newtons:  981.0 N
Weight of an object in Newtons:  162.0 N

Arbitrary Number of Arguments

If we do not know the number of arguments we pass to our function, we can create a function which can take arbitrary number of arguments by adding * before the parameter name.

In [ ]:
# syntax
# Declaring a function
def function_name(*args):
    codes
    codes
# Calling function
function_name(param1, param2, param3,..)

In [28]:
def sum_all_nums(*nums):
  total = 0
  for num in nums:
    total += num
  return total

print(sum_all_nums(2,3,5))

10

Default and Arbitrary Number of Parameters in Functions

In [29]:
def generate_groups(team,*args):
  print(team)
  for i in args:
    print(i)

print(generate_groups('Team-1','Soumya','Sankar','samlik','Juili'))

Team-1
Soumya
Sankar
samlik
Juili
None

Function as a Parameter of Another Function

In [30]:
#You can pass functions around as parameters
def square_number (n):
    return n * n
def do_something(f, x):
    return f(x)
print(do_something(square_number, 3)) # 27

9

Exercise level -1

Q1) Declare a function add_two_numbers. It takes two parameters and it returns a sum.

In [32]:
def add_two_numbers(num1,num2):
  total = num1 + num2
  return total

print(add_two_numbers(.05,55))

55.05

Q2) Area of a circle is calculated as follows: area = π x r x r. Write a function that calculates area_of_circle.

In [33]:
def area_of_circle():
  pi = 22/7
  r = int(input('Enter a number:'))
  area = pi*r*r
  print(area)

area_of_circle()

Enter a number:34
3633.1428571428573

Q3) Write a function called add_all_nums which takes arbitrary number of arguments and sums all the arguments. Check if all the list items are number types. If not do give a reasonable feedback.

In [34]:
def add_all_nums(*args):
  total = 0 # Initialize the sum to 0

  # Check if all arguments are numbers and sum them
  for num in args:
    if not isinstance(num,(int,float)):
      return "Error: All arguments must be numbers."
    total += num

  return total

result = add_all_nums(1,2,3,4,5)
print(result)

result = add_all_nums(1,2,'3',4,5)
print(result)

15
Error: All arguments must be numbers.

Q4)Temperature in °C can be converted to °F using this formula: °F = (°C x 9/5) + 32. Write a function which converts °C to °F, convert_celsius_to-fahrenheit.

In [35]:
def convert_celsius_to_fahrenheit(celsius):
  #Formula to convert Celsius to Fahrenheit
  fahrenheit = (celsius *(9/5)) + 32
  return fahrenheit

# Example usage:
celsius_temperature = 25
fahrenheit_tem = convert_celsius_to_fahrenheit(celsius_temperature)

print(f"{celsius_temperature}°C is equal to {fahrenheit_tem}°F")

25°C is equal to 77.0°F

Q5) Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.

In [36]:
def check_season(month):
  #define a dictionary mapping months to seasons
  month_to_season = {
      "December":"Winter",
      "January" :"Winter",
      "February":"Spring",
      "March":"Spring",
      "April":"summer",
      "May":"summer",
      "June":"summer",
      "july":"Rainny",
      "August":"Rainny",
      "September":"Rainny",
      "October":"Autum",
      "November": "Autum"

  }

  #Check if the provided month is in the dictionary

  if month in month_to_season:
    return month_to_season[month]
  else:
    return "Invalid month"


#Example usage :
input_month = str(input("Enter a Month Name:" ))
result = check_season(input_month)
print(f"The season for {input_month} is {result}")

Enter a Month Name:April
The season for April is summer