<a href="https://colab.research.google.com/github/soumyasankar99/Python_from_scratch/blob/main/List_data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists**

There are four collection data types in python :

1) List: List is a collection which is
  ordered and changable (modifiable or mutable) . Allows duplicate members.

2) Tuple: Tuple is a collection which is ordered and immutable in nature. Its also allows duplicate members.

3) Set: Set is a collection which does not have a proper order ,un-indexed and completely immutable but we can add net items (members) to the set. Here duplication is not allowed.

4) Dictionary : It is a collection unordered , modeifiable and indexed. No duplication is allowed here (no duplicate members).

A list is a collection of different data types which is ordered and modifiable (muatble).

It can be empty or can be contain different data types as items .

# How to Create  a list:

in python we can built / create lists in two ways:

a)Using list built_in function

b)Using square brackets[ ]

In [2]:
#Using list built_in function
#syntax
lst = list()

In [3]:
l1=list() #this is an empty list , no items were assigned
print(l1)

[]

In [4]:
print(len(l1))

0

In [5]:
#Using square brackets []
#syntax

lst = []

l2 = [] #this is an empty list, no item in list
print(len(l2))

0

Lists with values.

In [6]:
names =['deba','soumya','Ramya','Krish','juddy']
fruits = ['apple','orange','blueberries','mango','liche']
top_cities = ['LA','singapor','NY','Tokiyo','London','Banglor','Paries']
vegetables = [ 'potato','ladyfinger','cabbage','onion','pumpkin','carrot','tomato']

In [7]:
#print the lists and its length

print('Names:', names)
print('No. of names:', len(names))
print('Fruits:', fruits)
print('Number of fruits:', len(fruits))
print('TOP Cities:', top_cities)
print('Number of Top Cities:', len(top_cities))
print('Vgies:', vegetables)
print('Number of Vegies:', len(vegetables))

Names: ['deba', 'soumya', 'Ramya', 'Krish', 'juddy']
No. of names: 5
Fruits: ['apple', 'orange', 'blueberries', 'mango', 'liche']
Number of fruits: 5
TOP Cities: ['LA', 'singapor', 'NY', 'Tokiyo', 'London', 'Banglor', 'Paries']
Number of Top Cities: 7
Vgies: ['potato', 'ladyfinger', 'cabbage', 'onion', 'pumpkin', 'carrot', 'tomato']
Number of Vegies: 7

![list_sc_shot_1.png]()

List can have different items. You can access it by just typing = List. --> (shift +tab)

It have several methods like: append(),
 count(), sort(), pop(), insert(), remove(), reverse()  etc. just a few

In [8]:
# List can have different data types within
lst =[ 'Soumya',24,True,{'country':'IND','city':'Jajpur','Home':'Lalbag'}]

#this list contains different types of data

#access the data
print(lst)
print(len(lst))
print('List items:',lst)
print('Length of lst:',len(lst))

['Soumya', 24, True, {'country': 'IND', 'city': 'Jajpur', 'Home': 'Lalbag'}]
4
List items: ['Soumya', 24, True, {'country': 'IND', 'city': 'Jajpur', 'Home': 'Lalbag'}]
Length of lst: 4

Accessing List Items Using Positive Indexing

In [9]:
lst =[ 'Soumya',24,True,{'country':'IND','city':'Jajpur','Home':'Lalbag'}]

"""

We can access each items in this list = lst using their index. A list index starts from 0.

like Soumya --> o #index
         24 --> 1 #index
         True--> 2 #index
         {'country':'IND','city':'Jajpur','Home':'Lalbag'} --> 3 #index

"""

"\n\nWe can access each items in this list = lst using their index. A list index starts from 0.\n\nlike Soumya --> o #index\n         24 --> 1 #index\n         True--> 2 #index\n         {'country':'IND','city':'Jajpur','Home':'Lalbag'} --> 3 #index \n\n"

In [10]:
lst

['Soumya', 24, True, {'country': 'IND', 'city': 'Jajpur', 'Home': 'Lalbag'}]

In [11]:
first_index=lst[0] #accessing first item in the list
print(first_index)

Soumya

In [12]:
sec2_index=lst[1] #accessing second item in the list
print(sec2_index)

24

In [13]:
third2_index=lst[2] #accessing 3rd item in the list
print(third2_index)

True

In [14]:
fourth_index=lst[3] #accessing 4th item in the list
print(fourth_index)

{'country': 'IND', 'city': 'Jajpur', 'Home': 'Lalbag'}

In [15]:
# Last index
last_index = len(lst)-1
last_itm = lst[last_index]
print("The last item in the given list:",last_itm)

The last item in the given list: {'country': 'IND', 'city': 'Jajpur', 'Home': 'Lalbag'}

**Accessing List Items Using Negative Indexing:**

---



To access list items using +ve indexing we move forword direction.

To accessing list items using -ve indexing ,we move backward direction.

In [16]:
lst

['Soumya', 24, True, {'country': 'IND', 'city': 'Jajpur', 'Home': 'Lalbag'}]

In [ ]:
"""
 For moving +ve index(moving forward direction)
 Soumya --> o #index
         24 --> 1 #index
         True--> 2 #index
         {'country':'IND','city':'Jajpur','Home':'Lalbag'} --> 3 #index

For moving _ve index (moving backward direction)
 Soumya --> -4 #index
         24 --> -3 #index
         True--> -2 #index
         {'country':'IND','city':'Jajpur','Home':'Lalbag'} --> -1 #index


"""

In [18]:
lst =[ 'Soumya',24,True,{'country':'IND','city':'Jajpur','Home':'Lalbag'}]

In [20]:
first_itm = lst[-4]
sec_itm = lst[-3]
thrd_itm = lst[-2]
frth_itm = lst[-1]

print("1st Itm:",first_itm)
print("2nd Itm:",sec_itm)
print("3rd Itm:",thrd_itm)
print("4th Itm:",frth_itm)

1st Itm: Soumya
2nd Itm: 24
3rd Itm: True
4th Itm: {'country': 'IND', 'city': 'Jajpur', 'Home': 'Lalbag'}

**Unpacking List Items**
---

In [21]:
lst = ['item1','item2','item3', 'item4', 'item5']
first_item, second_item, third_item, *rest = lst
print(first_item)     # item1
print(second_item)    # item2
print(third_item)     # item3
print(rest)           # ['item4', 'item5']

item1
item2
item3
['item4', 'item5']

In [22]:
fruits = ['apple','orange','blueberries','mango','liche']
first_fruits , second_fruits ,third_fruits , *rest = fruits
print(first_fruits)
print(second_fruits)
print(third_fruits)
print(rest)

apple
orange
blueberries
['mango', 'liche']

In [24]:
#Example of unpacking list
cities = ["bbsr","ctc","jajpur","Bhadrak","sambalpur","kendrapada","balesor","puri"]
cities

['bbsr',
 'ctc',
 'jajpur',
 'Bhadrak',
 'sambalpur',
 'kendrapada',
 'balesor',
 'puri']

In [26]:
cities = ["Bhubaneswarsr","cuttack","jajpur","Bhadrak","sambalpur","kendrapada","balesor","puri"]
bbsr,ctc,jaj,bhdk,*ukn,pr = cities
print(bbsr)
print(ctc)
print(jaj)
print(bhdk)
print(ukn)
print(pr)

Bhubaneswarsr
cuttack
jajpur
Bhadrak
['sambalpur', 'kendrapada', 'balesor']
puri

**Slicing Items from a List**

---
Positive Indexing:

 We can specify a range of positive indexes by specifying the start, end and step, the return value will be a new list. (default values for start = 0, end = len(lst) - 1 (last item), step = 1)

In [37]:
fruits = ['apple','orange','blueberries','mango','liche']
all_fruits = fruits[0:5] #returns all fruits
print(all_fruits)

['apple', 'orange', 'blueberries', 'mango', 'liche']

In [30]:
#This is the same if we don't set where to stop .It takes all the rest
all_fruits = fruits[0:]
print(all_fruits)

['apple', 'orange', 'blueberries', 'mango', 'liche']

In [31]:
frt1 = fruits[1:3]
print(frt1)  #It doesn't takr first value item in the list while slicing

['orange', 'blueberries']

In [32]:
frt2 = fruits[1:]
print(frt2) #It not take the 1st item , but the rest of items

['orange', 'blueberries', 'mango', 'liche']

In [33]:
frt3 = fruits[::2]
print(frt3) # setp is activated. it will take away every 2nd items in bewteen -['orange','mango']

['apple', 'blueberries', 'liche']

In [ ]:
#Same we can do using nagative indexing:

# We can specify a range of negative indexes by specifying
# the start, end and step, the return value will be a new list.

In [38]:
fruits = ['apple','orange','blueberries','mango','liche']
all_fruits = fruits[-5:] #it returns all the fruits
print(all_fruits)

['apple', 'orange', 'blueberries', 'mango', 'liche']

In [39]:
frt1 = fruits[-3:-1]
print(frt1) #doesn't include last index

['blueberries', 'mango']

In [40]:
frt2 = fruits[-3:]
print(frt2) # this will give starting from -3 to the end, ['apple','orange']

['blueberries', 'mango', 'liche']

In [41]:
frt3 = fruits[::-1]
print(frt3) # a negative step will take the list in reverse order

['liche', 'mango', 'blueberries', 'orange', 'apple']

**Modifying List**

---
List is a mutable or modifiable ordered collection of items.

In [42]:
fruits = ['apple','orange','blueberries','mango','liche']
fruits[0] = 'kiwi'
print(fruits)  # ['kiwi','orange','blueberries','mango','liche']

['kiwi', 'orange', 'blueberries', 'mango', 'liche']

In [43]:
fruits[1] = 'apple'
print(fruits) # ['kiwi','apple','blueberries','mango','liche']

['kiwi', 'apple', 'blueberries', 'mango', 'liche']

In [44]:
last_index = len(fruits) - 1
fruits[last_index] = 'lime'
print(fruits) # Replacing the last fruit item with lime in the list

['kiwi', 'apple', 'blueberries', 'mango', 'lime']

**Checking Items in a List**

---
Checking an item if it is a member of a list using in operator

In [45]:
fruits = ['apple','orange','blueberries','mango','liche']
does_exist = 'orange' in fruits
print(does_exist)  #True
does_exist = 'wiki' in fruits
print(does_exist) #False

True
False

**Adding Items to a List**

---
To add item to the end of an existing list we use the method append().

# syntax
lst = list()

lst.append(item)

In [49]:
fruits = ['apple','orange','blueberries','mango','liche']
fruits.append('avocado')
print("1st fruit list :",fruits) # Added to list in the last index
fruits.append('lime')
print("2nd fruit list :" , fruits)
#added next to avocado in the list to become last indexed fruits

1st fruit list : ['apple', 'orange', 'blueberries', 'mango', 'liche', 'avocado']
2nd fruit list : ['apple', 'orange', 'blueberries', 'mango', 'liche', 'avocado', 'lime']

**Inserting Items into a List**

We can use insert() method to insert a single item at a specified index in a list. Note that other items are shifted to the right.

The insert() methods takes two arguments:index and an item to insert.

# syntax
lst = ['item1', 'item2']

lst.insert(index, item)

In [51]:
fruits = ['apple','orange','blueberries','mango','liche']
fruits.insert(3,"lime") #add lime in between blueberries and mango
print(fruits)

['apple', 'orange', 'blueberries', 'lime', 'mango', 'liche']

In [53]:
fruits.insert(2,"kiwi")
print(fruits) #adding kiwi in between orange and blueberries

['apple', 'orange', 'kiwi', 'kiwi', 'blueberries', 'lime', 'mango', 'liche']

**Removing Items from a List**

---
The remove method removes a specified item from a list.

# syntax
lst = ['item1', 'item2']

lst.remove(item)

In [56]:
fruits = ['apple','orange','blueberries','mango','liche']
fruits.remove('blueberries')
print("1st Removed list",fruits) # Blueberries just got removed --['apple', 'orange', 'mango', 'liche']

fruits.remove('mango')
print("2nd removed list",fruits)

#It will permanetly remove items...
#after removing mango list--> ['apple', 'orange', 'liche']

1st Removed list ['apple', 'orange', 'mango', 'liche']
2nd removed list ['apple', 'orange', 'liche']

**Removing Items Using Pop**

---


The pop() method removes the specified index, (or the last item if index is not specified):

# syntax
lst = ['item1', 'item2']

lst.pop()          # last item

lst.pop(index)

In [58]:
fruits = ['apple','orange','blueberries','mango','liche']
fruits.pop()
print("LIST AFTER POP METHOD1:",fruits) #remove last fruit item

fruits.pop(3) # specify where in the list  do you want to remove items
print("LIST AFTER POP METHOD2:",fruits)

LIST AFTER POP METHOD1: ['apple', 'orange', 'blueberries', 'mango']
LIST AFTER POP METHOD2: ['apple', 'orange', 'blueberries']

**Removing Items Using Del**

---


The del keyword removes the specified index and it can also be used to delete items within index range.

It can also delete the list completely

# syntax
lst = ['item1', 'item2']

del lst[index]    # only a single item

del lst         # to delete the list completely

In [62]:
fruits = ['apple','orange','blueberries','mango','liche']
del fruits[0]
print("del 1st applied:",fruits)     # ['orange', 'blueberries', 'mango', 'liche']

del fruits[1]
print("del 2nd applied:",fruits)     #['orange', 'mango', 'liche']

del fruits[1:3]
print("del 3rd applied :",fruits)      # ['orange']

del fruits
print("del 4th applied :",fruits)    #NameError: name 'fruits' is not defined

del 1st applied: ['orange', 'blueberries', 'mango', 'liche']
del 2nd applied: ['orange', 'mango', 'liche']
del 3rd applied : ['orange']

NameError: ignored

**Clearing List Items**

The clear() method empties the list:

# syntax
lst = ['item1', 'item2']

lst.clear()

In [63]:
fruits = ['apple','orange','blueberries','mango','liche']
fruits.clear()
print(fruits) # should be retuning an empty list

[]

**Copying a List**

It is possible to copy a list by reassigning it to a new variable in the following way: list2 = list1.

Now, list2 is a reference of list1, any changes we make in list2 will also modify the original, list1.

But there are lots of case in which we do not like to modify the original instead we like to have a different copy. One of way of avoiding the problem above is using copy().

# syntax
lst = ['item1', 'item2']

lst_copy = lst.copy()

In [64]:
fruits = ['apple','orange','blueberries','mango','liche']
fruits_copy = fruits.copy()
print(fruits_copy)

['apple', 'orange', 'blueberries', 'mango', 'liche']

**Joining Lists**

---



There are several ways to join, or concatenate, two or more lists in Python.

**Plus Operator(+)**

---
# syntax
list3 = list1 + list2

In [65]:
positive_numbers = [1, 2, 3, 4, 5]
zero = [0]
negative_numbers = [-5,-4,-3,-2,-1]
integers = negative_numbers + zero + positive_numbers
print(integers) # [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
fruits = ['banana', 'orange', 'mango', 'lemon']
vegetables = ['Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']
fruits_and_vegetables = fruits + vegetables
print(fruits_and_vegetables ) # ['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

Joining using extend() method The extend() method allows to append list in a list.

# syntax
list1 = ['item1', 'item2']

list2 = ['item3', 'item4', 'item5']

list1.extend(list2)

In [66]:
num1 = [0, 1, 2, 3]
num2= [4, 5, 6]
num1.extend(num2)
print('Numbers:', num1) # Numbers: [0, 1, 2, 3, 4, 5, 6]
negative_numbers = [-5,-4,-3,-2,-1]
positive_numbers = [1, 2, 3,4,5]
zero = [0]

negative_numbers.extend(zero)
negative_numbers.extend(positive_numbers)
print('Integers:', negative_numbers) # Integers: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
fruits = ['apple','orange','blueberries','mango','liche']
vegetables = ['Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']
fruits.extend(vegetables)
print('Fruits and vegetables:', fruits ) # Fruits and vegetables :
                                         #['apple', 'orange', 'blueberries', 'mango', 'liche', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

Numbers: [0, 1, 2, 3, 4, 5, 6]
Integers: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
Fruits and vegetables: ['apple', 'orange', 'blueberries', 'mango', 'liche', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

**Counting Items in a List**

The count() method returns the number of times an item appears in a list:

# syntax
lst = ['item1', 'item2']

lst.count(item)

In [67]:
fruits =  ['apple','orange','blueberries','mango','liche']
print(fruits.count('orange'))   # 1
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.count(24))           # 3

1
3

**Finding Index of an Item**

The index() method returns the index of an item in the list:

# syntax
lst = ['item1', 'item2']

lst.index(item)

In [70]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits.index('orange'))   # 1
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.index(24))           # 2, the first occurrence

1
2

**Reversing a List**

---


The reverse() method reverses the order of a list.

# syntax
lst = ['item1', 'item2']

lst.reverse()

In [71]:
fruits = ['apple','orange','blueberries','mango','liche']
fruits.reverse()
print(fruits) # ['liche', 'mango', 'blueberries', 'orange', 'apple']
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages.reverse()
print(ages) # [24, 25, 24, 26, 25, 24, 19, 22]

['liche', 'mango', 'blueberries', 'orange', 'apple']
[24, 25, 24, 26, 25, 24, 19, 22]

**Sorting List Items**

---


To sort lists we can use sort() method or sorted() built-in functions.

The sort() method reorders the list items in ascending order and modifies the original list.

If an argument of sort() method reverse is equal to true, it will arrange the list in descending order.

sort(): this method modifies the original list

# syntax
lst = ['item1', 'item2']

lst.sort()                # ascending

lst.sort(reverse=True)    # descending

In [72]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.sort()
print(fruits)             # sorted in alphabetical order, ['banana', 'lemon', 'mango', 'orange']
fruits.sort(reverse=True)
print(fruits) # ['orange', 'mango', 'lemon', 'banana']
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages.sort()
print(ages) #  [19, 22, 24, 24, 24, 25, 25, 26]

ages.sort(reverse=True)
print(ages) #  [26, 25, 25, 24, 24, 24, 22, 19]

['banana', 'lemon', 'mango', 'orange']
['orange', 'mango', 'lemon', 'banana']
[19, 22, 24, 24, 24, 25, 25, 26]
[26, 25, 25, 24, 24, 24, 22, 19]

sorted(): returns the ordered list without modifying the original list

In [73]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print(sorted(fruits))   # ['banana', 'lemon', 'mango', 'orange']
# Reverse order
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits = sorted(fruits,reverse=True)
print(fruits)     # ['orange', 'mango', 'lemon', 'banana']

['banana', 'lemon', 'mango', 'orange']
['orange', 'mango', 'lemon', 'banana']